
.article {
    
    .container {
        margin-top: 4em;
        text-align: center;

        @media (min-width: 1281px) {
            text-align: left;
        }

        h3 {
            color:#191919;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            padding: 20px;
            font-size: 45px;
        }
        
        .date-author {
            text-align: center;
            justify-content: center;
            display: flex;
            color:#191919;
            font-family: 'DM Sans', sans-serif;
            font-size: 20px;

            @media (min-width: 1281px) {
                text-align: left;
                justify-content: left;
            }

            p{
                padding: 20px;
            }
            
            i {
                color: #f9d783;
                font-size: .5em;
                padding: 20px;
            }
        }

        .left-right {
            
            @media (min-width: 1281px) {
            display: flex;
            justify-content: space-between;
            }

            .left {
                padding-left: 10px;
                padding-right: 60px;
                padding-top: 25px;

                .article-image  {

                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        object-position: bottom center;

                        @media (min-width: 768px) {
                            height: 400px;
                        }

                        @media (min-width: 991px) {
                            height: 500px;
                        }

                        @media (min-width: 1200px) {
                            height: 550px;
                        }
                    }
                }
                
                .content {
                    font-size: 16px;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    @media (min-width: 1281px) {
                        text-align: left;
                    }

                    .paragraph {
                        padding: 20px 10px 10px 10px;
                    }

                    .quote {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: 400;
                        font-style: italic;
                        padding: 20px 10px 10px 10px;
                        
                        i {
                            font-size: 2em;
                        }
                    }
                }

                button {
                    background-color: #ebebeb;
                    border: none;
                    color: #191919;
                    font-family: 'Inter', sans-serif;
                    text-decoration: none;
                    padding: 13px 35px;
                    font-weight: 600;
                    font-size: 16px;
                    border-radius: 25px;
                    margin-right: 10px;
                    margin-bottom: 20px;

                    i {
                        margin-left: 8px;
                        font-size: 0.9em;
                    }

                    &:hover {
                        background-color: #191919;
                        border: 1px solid #191919;
                        color: #F0EFE9;
                    }
                }
            }
    
            .right {
                .search {
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    form {
                        margin-top: 15px;
                        width: 350px;
                        

                        input {
                            padding: 20px;
                            padding-left: 70px;
                            color: #191919;
                            border: none;
                            background-color: #f3f1f1;
                            font-size: 16px;
                            text-decoration: none;
                            border-radius: 50px;
                            width: 350px;
                        }
                        
                        i {
                            display: block;
                            position:relative;
                            color: #191919;
                            left: -145px;
                            top: -45px;
                            font-size: 1.5em;

                            @media (min-width: 1281px) {
                                left: 30px;
                            }
                        }
                    }
                }

                .recent-posts {
                    border: 1px solid #b5b1b1;
                    margin-bottom: 20px;
                    padding: 30px;
                    margin-top: 20px;

                    h4 {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                        padding-left: 20px;
                    }

                    .title-underline {
                        i {
                            font-weight: 700;
                            font-size: 2em;
                            position: relative;
                            top: -20px;
                            left: -70px;
                            padding-left: 20px;
                            display: inline-block;
                            width: 0px;
                            height: 10px;

                            @media (min-width: 1281px) {
                                top: -20px;
                                left: 0px;
                            }
                        }
                    }

                    .postbox {
                        border-bottom: 1px solid #b5b1b1;
                        
                        .post {
                            font-weight: 500;
                            padding: 20px;
                        }
    
                        .date {
                            font-weight: 200;
                            padding: 20px;
                            padding-top: 10px;
                        }
                    }

                    .post {
                        font-weight: 500;
                        padding: 20px;
                    }

                    .date {
                        font-weight: 200;
                        padding: 20px;
                        padding-top: 10px;
                    }
                    

            
                }

                .categories {
                    border: 1px solid #b5b1b1;
                    padding: 30px;
                    text-align: center;

                    h4 {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: 700;
                        padding-left: 20px;
                    }

                    .title-underline {
                        i {
                            font-weight: 700;
                            font-size: 2em;
                            position: relative;
                            top: -20px;
                            left: -59px;
                            padding-left: 20px;
                            display: inline-block;
                            width: 0px;
                            height: 10px;

                            @media (min-width: 1281px) {
                                top: -20px;
                                left: -59px;
                            }
                        }
                    }

                    .categorybox {
                        display: flex;
                        font-family: 'DM Sans', sans-serif;
                        margin-top: 0px;
                        justify-content: center;

                        @media (min-width: 1281px) {
                            justify-content: left;
                        }

                        .category {
                            font-weight: 500;
                            padding-top: 10px;
                            padding-left: 20px;
                        }

                        .number-posts {
                            padding-top: 10px;
                            font-weight: 200;
                            padding-left: 5px;
                        }
                    }
                   
                    
                }

            }
        }
        
    }
    
}