.article-page-news {

    .container {

        .upper-div-news {
            .section-title {
                padding-bottom: 34px;
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: start;
                    padding-bottom: 15px;
                }
            }

        }

        .row {
            justify-content: center;
            align-items: center;

            .col {
                padding-top: 30px;
                padding-right: 10px;
                padding-left: 10px;
                width: 275px;
                text-align: center;
                align-items: center;
                justify-content: center;

                @media (min-width: 375px) {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                @media (min-width: 390px) {
                    padding-left: 20px;
                    padding-right: 20px;
                }

                @media (min-width: 400px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }

                @media (min-width: 540px) {
                    padding-left: 90px;
                    padding-right: 90px;
                }

                @media (min-width: 768px) {
                    padding-left: 200px;
                    padding-right: 200px;
                    padding-top: 20px;
                    width: 300px;
                }

                @media (min-width: 820px) {
                    padding-left: 200px;
                    padding-right: 200px;
                }

                @media (min-width: 1024px) {
                    padding-left: 20px;
                    padding-right: 0px;
                    width: 250px;
                    align-items: start;
                    text-align: start;
                }
                 
                @media (min-width: 1200px) {
                    width: 400px;
                    align-items: start;
                    text-align: start;
                }

                .article {
                    text-decoration: none;
                    color: #191919;
                    padding-right: 300px;
                    padding-left: 300px;
                    width: 275px;
                    justify-content: center;
                    align-items: center;
                    
                    @media (min-width: 1200px) {
                        width: 300px;
                        padding: 0px;
                        justify-content: start;
                    }

                    @media (min-width: 1281px) {
                        width: 420px;
                    }

                    &:hover {
                        text-decoration: underline;
                        color: #191919;
                    }

                    .img-date {
                        width: 275px;
                        height: 150px;
                        justify-content: center;
                        padding-left: 40px;

                        @media (max-width: 280px) {
                            padding: 0;
                            width: 200px;
                        }

                        @media (min-width: 540px) {
                            padding-left: 50px;
                            padding-right: 50px;
                        }

                        @media (min-width: 768px) {
                            padding-left: 30px;
                            padding-right: 30px;
                        }
                        
                        @media (min-width: 820px) {
                            padding-left: 22px;
                            padding-right: 0px;
                        }

                        @media (min-width: 1024px) {
                            padding-left: 0px;
                            padding-right: 0px;
                        }

                        img {
                            width: 270px;
                            height: 190px;
                            align-items: center;
                            object-fit: cover;

                            @media (max-width: 280px) {
                                padding-left: 10px;
                                width: 250px;
                            }

                            @media (max-width: 1024px) {
                                align-items: start;
                                padding: 0px;
                            }

                            @media (min-width: 1281px) {
                                width: 420px;
                            }
                        }

                        .date-square {
                            width: 56px;
                            height: 64px;
                            background-color: #F9D783;
                            text-align: center;
                            padding: 10px;
                            line-height: 1;
                            position: relative;
                            top: -140px;
                            left: 10px;

                            .day {
                                font-family: 'DM Sans', sans-serif;
                                font-weight: 700;
                                font-size: 22px;
                                padding-bottom: 0px;
                                padding-top: 7px;
                            }

                            .month {
                                padding-top: 3px;
                                font-family: 'Inter', sans-serif;
                                font-size: 16px;
                            }
                        }
                    }

                    .business {
                        font-size: 16;
                        font-weight: 500;
                        padding-bottom: 15px;
                        padding-top: 15px;
                        margin-top: 40px;

                        @media (min-width: 1024px) {
                            margin-top: 0px;
                            width: 300px;
                            padding-top: 110px;
                        }

                        @media (min-width: 1281px) {
                            width: 420px;
                            padding-bottom: 30px;
                        }
                    }

                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                        padding-bottom: 8px;

                        @media (min-width: 1024px) {
                            width: 300px;
                        }

                        @media (min-width: 1281px) {
                            width: 420px;
                            padding-bottom: 25px;
                        }
                    }

                    p {
                        font-size: 16;
                        line-height: 1.8;
                        padding-bottom: 25px;

                        @media (min-width: 1024px) {
                            width: 300px;
                        }

                        @media (min-width: 1281px) {
                            width: 420px;
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}